.ant-collapse > .ant-collapse-item > .ant-collapse-header
{
  padding-top:1px;
  padding-bottom:1px;
  background-color: white;
  
}

.ant-collapse-content > .ant-collapse-content-box
{
  padding:0px;
}
.ant-collapse > .ant-collapse-item{
  border: 0px;
}

.ant-collapse-content{
  border: 0px;
}
